@import "./variable";
.articlesListBG {
  background-image: url("../Image/articlesListBG.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}
