@import "./variable";
// 標題文字
.mainTitle {
  text-shadow: 3px 3px 25px #000, -3px 3px 25px #000, 3px -3px 25px #000,
    -3px -3px 25px #000;
}
// 左右線條
.lrLine {
  width: 100%;
  border-top: 8px solid $primary;
}
// 左線條
.lLine {
  border-top: 8px solid $primary;
}
// btn
.mainBtn {
  border-radius: 5px;
  border: 1px solid $white;
  background-color: $white;
  color: $primary;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  line-height: 2rem;
  letter-spacing: 0.5rem;
  &:hover {
    background-color: $primary;
    border: 1px solid $primary;
    color: $white;
  }
}
// 後台按鈕
.primaryBtn {
  background-color: $retouch;
  color: $white;
  padding: 5px 10px;
  border: 1px solid $retouch;
  border-radius: 5px;
  font-weight: bold;
  &:hover {
    background-color: darken($retouch, 10%);
    border: 1px solid darken($retouch, 10%);
  }
}
.dangerBtn {
  background-color: $primary;
  color: $white;
  padding: 5px 8px;
  border: 1px solid $primary;
  border-radius: 5px;
  font-weight: bold;
  &:hover {
    background-color: darken($primary, 10%);
    border: 1px solid darken($primary, 10%);
  }
}
.cancelBtn {
  background-color: $retouch2;
  color: $white;
  padding: 5px 10px;
  border: 1px solid $retouch2;
  border-radius: 5px;
  font-weight: bold;
  &:hover {
    background-color: darken($retouch2, 10%);
    border: 1px solid darken($retouch2, 10%);
  }
}
.otherBtn {
  background-color: transparent;
  color: $black;
  padding: 5px 10px;
  border: 1px solid $black;
  border-radius: 5px;
  font-weight: bold;
  &:hover {
    color: $white;
    background-color: lighten($black, 5%);
    border: 1px solid lighten($black, 5%);
  }
}
// 前台按鈕(紅變白)
.commonBtn {
  background-color: $primary;
  color: $white;
  padding: 5px 10px;
  border: 2px solid $primary;
  border-radius: 5px;
  font-size: 1.125rem;
  transition: 0.25s all ease-in-out;
  &:hover {
    background-color: $white;
    color: $primary;
    border: 2px solid $primary;
    transition: 0.25s all ease-in-out;
  }
  // 反向樣式(白變紅)
  &--reverse {
    background-color: $white;
    color: $black;
    padding: 5px 10px;
    border: 2px solid $primary;
    border-radius: 5px;
    font-size: 1.125rem;
    transition: 0.25s all ease-in-out;
    &:hover {
      background-color: $primary;
      color: $white;
      border: 2px solid $primary;
      transition: 0.25s all ease-in-out;
    }
  }
}

// Input
.modalTitle {
  font-size: 1.15rem;
  font-weight: 700;
  color: $black;
  margin-bottom: 5px;
}
.modalInput {
  border: 1px solid $black;
  border-radius: 5px;
  padding: 5px 8px;
  font-size: 1.15rem;
  font-weight: 700;
  margin-bottom: 5px;
}
