@import "./variable";
// btn
.mainBtn {
  display: inline-block;
  overflow: hidden;
  position: relative;
  > span {
    transition: 0.2s linear;
  }
  &::after {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background-color: $primary;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
  }
  &:hover {
    &::after {
      animation: mainBtn 0.7s 1;
      top: -10%;
      left: -10%;
    }
  }
}
@keyframes mainBtn {
  0% {
    top: 90%;
    left: -110%;
  }
  50% {
    top: -30%;
    left: 10%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
.primaryBtn {
  background-color: $retouch;
  color: $white;
  padding: 5px 10px;
  border: 1px solid $retouch;
  border-radius: 5px;
  font-weight: bold;
  &:hover {
    background-color: darken($retouch, 10%);
    border: 1px solid darken($retouch, 10%);
  }
}
.dangerBtn {
  background-color: $primary;
  color: $white;
  padding: 5px 8px;
  border: 1px solid $primary;
  border-radius: 5px;
  font-weight: bold;
  &:hover {
    background-color: darken($primary, 10%);
    border: 1px solid darken($primary, 10%);
  }
}
.cancelBtn {
  background-color: $retouch2;
  color: $white;
  padding: 5px 10px;
  border: 1px solid $retouch2;
  border-radius: 5px;
  font-weight: bold;
  &:hover {
    background-color: darken($retouch2, 10%);
    border: 1px solid darken($retouch2, 10%);
  }
}

// Input
.modalTitle {
  font-size: 1.15rem;
  font-weight: 700;
  color: $black;
  margin-bottom: 5px;
}
.modalInput {
  border: 1px solid $black;
  border-radius: 5px;
  padding: 5px 8px;
  font-size: 1.15rem;
  font-weight: 700;
  margin-bottom: 5px;
}

// Text
.primary-red {
  color: $primary;
}
.bg-primary-red {
  background-color: $primary;
}
.primary-white {
  color: $white;
}
.bg-primary-white {
  background-color: $white;
}
.primary-black {
  color: $black;
}
.bg-primary-black {
  background-color: $black;
}
.primary-retouch {
  color: $retouch;
}
.bg-primary-retouch {
  background-color: $retouch;
}
.primary-retouch2 {
  color: $retouch2;
}
.bg-primary-retouch2 {
  background-color: $retouch2;
}
